<h1>Home#index</h1>

<%= link_to managerposts_path do %>
  <button class="btn btn-outline-primary btn-block">managerpost</button>
<% end %>
<br/>
<%= link_to posts_path do %>
  <button class="btn btn-outline-primary btn-block">post</button>
<% end %>
